th.active.asc {
  color: yellow;
}

th.active.desc {
  color: yellow;
}

.active.asc::after {
  content: " ↓";
}

.active.desc::after {
  content: " ↑";
}

.table-hover tr:hover td {
  background-color: #b1fcb1;
  color: black;
}