th.active.asc, th.active.desc {
  color: rgb(252, 252, 141);
}

col.active {
  background-color: rgb(245, 245, 182);
}

.active.asc::after {
  content: " ↓";
}

.active.desc::after {
  content: " ↑";
}

.table-hover tr:hover td {
  background-color: #b1fcb1;
  color: black;
}